<section class="container mt-5 bg-white p-4 rounded-4 shadow-sm">
    <h4 class="fw-bold text-primary mb-4 text-uppercase">Lịch sử đặt hàng</h4>
    <table class="table table-hover align-middle">
        <thead class="table-light">
        <tr class="small text-muted">
            <th>MÃ ĐƠN</th>
            <th>NGÀY ĐẶT</th>
            <th>ĐỊA CHỈ</th>
            <th>TỔNG TIỀN</th>
            <th>TRẠNG THÁI</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="fw-bold">#BG-10293</td>
            <td>30/03/2026</td>
            <td class="small">CVPM Quang Trung, Q12, HCM</td>
            <td class="fw-bold text-danger">55,000,000đ</td>
            <td><span class="badge bg-success">Đã giao</span></td>
            <td><a href="#" class="btn btn-sm btn-outline-primary rounded-pill px-3">Chi tiết</a></td>
        </tr>
        </tbody>
    </table>
</section>